<a href="https://colab.research.google.com/github/azzammuhammad/tugas1/blob/main/tugas3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
data = {
    'Nama': ['Arfian Purnama', 'Alisa Dityaningrum', 'Kiki Anggraeni', 'Rizky Kurniawan'],
    'Gender': ['L', 'P', 'P', 'L'],
    'No. Telepon': ['081267001022', '087823560918', '089654009102', '082267018967']}

df = pd.DataFrame(data)
print(df)

                 Nama Gender   No. Telepon
0      Arfian Purnama      L  081267001022
1  Alisa Dityaningrum      P  087823560918
2      Kiki Anggraeni      P  089654009102
3     Rizky Kurniawan      L  082267018967

In [11]:
import pandas as pd
data = {
    'Nama': ['Arfian Purnama', 'Alisa Dityaningrum', 'Kiki Anggraeni', 'Rizky Kurniawan'],
    'Gender': ['L', 'P', 'P', 'L'],
    'No. Telepon': ['081267001022', '087823560918', '089654009102', '082267018967'],
    'Tugas': [80, 89, 76, 80],
    'UTS': [90, 89, 85, 82],
    'UAS': [88, 78, 90, 81],
}

df = pd.DataFrame(data)
print(df)

                 Nama Gender   No. Telepon  Tugas  UTS  UAS
0      Arfian Purnama      L  081267001022     80   90   88
1  Alisa Dityaningrum      P  087823560918     89   89   78
2      Kiki Anggraeni      P  089654009102     76   85   90
3     Rizky Kurniawan      L  082267018967     80   82   81

In [12]:
import pandas as pd
data = {
    'Nama': ['Arfian Purnama', 'Alisa Dityaningrum', 'Kiki Anggraeni', 'Rizky Kurniawan'],
    'Gender': ['L', 'P', 'P', 'L'],
    'No. Telepon': ['081267001022', '087823560918', '089654009102', '082267018967'],
    'Tugas': [80, 89, 76, 80],
    'UTS': [90, 89, 85, 82],
    'UAS': [88, 78, 90, 81],
}

# Membuat DataFrame
df = pd.DataFrame(data)
df["Nilai akhir"] = 0.3 * df["Tugas"] + 0.3 * df["UAS"] + 0.4 * df["UTS"]
df
# menampilan DataFrame
print(df)

                 Nama Gender   No. Telepon  Tugas  UTS  UAS  Nilai akhir
0      Arfian Purnama      L  081267001022     80   90   88         86.4
1  Alisa Dityaningrum      P  087823560918     89   89   78         85.7
2      Kiki Anggraeni      P  089654009102     76   85   90         83.8
3     Rizky Kurniawan      L  082267018967     80   82   81         81.1