<a href="https://colab.research.google.com/github/azzammuhammad/tugas1/blob/main/tugas2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
data = {
    'Nama': ['Arfian Purnama', 'Alisa Dityaningrum', 'Kiki Anggraeni', 'Rizky Kurniawan'],
    'Gender': ['L', 'P', 'P', 'L'],
    'No. Telepon': ['081267001022', '087823560918', '089654009102', '082267018967'],
    'Tugas': [80, 89, 76, 80],
    'UAS': [88, 78, 90, 81],
    'UTS': [90, 89, 85, 82]
}

# Membuat DataFrame
df = pd.DataFrame(data)
df["Nilai akhir"] = 0.3 * df["Tugas"] + 0.3 * df["UAS"] + 0.4 * df["UTS"]
df
# menampilan DataFrame
print(df)

                 Nama Gender   No. Telepon  Tugas  UAS  UTS  Nilai akhir
0      Arfian Purnama      L  081267001022     80   88   90         86.4
1  Alisa Dityaningrum      P  087823560918     89   78   89         85.7
2      Kiki Anggraeni      P  089654009102     76   90   85         83.8
3     Rizky Kurniawan      L  082267018967     80   81   82         81.1